<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/Exam_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exam TWO
#Oluwatobi Afolabi

In [113]:
import pandas as pa
pa.options.mode.chained_assignment = None  # default='warn'
import numpy
import math
import statistics as stat
import re

I am going to import the data set I will make use of.

In [114]:
df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

##Data types

In [115]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

I think max_pace and min_pace should have been an integer ratherinstead of an object.

##1b Remove the column that repeats the indexes and is ‘unnamed’ as a column.

In [116]:
df = df.drop(columns = ['Unnamed: 0'])

##1c 
I'll clean the column names

In [117]:
df = df.rename(columns=lambda x: re.sub("\([^()]*\)", '', x))
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

##1d
I'll convert the activity day column into a datetime format

In [118]:
df['activity_day'] = pa.to_datetime(df.activity_day, format = '%Y-%m-%d')
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max                    int64
aerobic                    int64
anaerobic                  int64
intensive                  int64
light                      int64
dtype: object

##1e
Replacing the NaN's in the total_steps column

In [119]:
MeanofStep = df['total_steps'].mean()
MeanofStep = math.trunc(MeanofStep)
df['total_steps'] = df['total_steps'].fillna(value = int(MeanofStep))
df.total_steps = df.total_steps.astype('int')

df['total_steps']

0      4081
1      4081
2      4081
3      1571
4      4081
       ...
995    4081
996    4081
997    4081
998    4081
999    4081
Name: total_steps, Length: 1000, dtype: int64

This took a lot of time. For some resons it was giving me a value of 0.

##1f 
Convert avg_pace into a float. To do this, i'll make use of fillna and mean. Just like the previous question

In [120]:
df['avg_pace'] = [re.sub(':','.', str(x)) 
for x in df['avg_pace']]
df.avg_pace = df.avg_pace.astype('float')
df['avg_pace']
df['avg_pace'] = df['avg_pace'].fillna(value = df['avg_pace'].mean())
df['avg_pace']

0      7.136453
1      7.136453
2      7.136453
3      7.580000
4      7.136453
         ...
995    7.136453
996    7.136453
997    7.136453
998    7.136453
999    7.136453
Name: avg_pace, Length: 1000, dtype: float64

##1g
Groupby

In [121]:
df.groupby('workout_type').agg(['mean','median','count','std'])['calories']

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

##1h
Create an indicator column

In [122]:
aerobic = df.aerobic > 30
pa.concat([df,pa.DataFrame({'FiveHundo':aerobic})], axis = 1)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,FiveHundo
0,2022-01-01,Freestyle,9.30,77,123,4081,18.88,168.54,138.30,7.136453,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,4081,29.65,125.92,292.81,7.136453,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,4081,17.85,81.93,323.69,7.136453,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571,22.10,29.63,180.16,7.580000,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,4081,25.83,64.55,342.89,7.136453,...,NaN,138.0,166.0,110,7,0,5,21,88,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,4081,28.66,173.30,234.73,7.136453,...,NaN,133.5,175.0,92,22,20,15,21,61,False
996,2022-02-14,Freestyle,9.48,61,219,4081,9.23,114.34,109.32,7.136453,...,NaN,103.0,122.0,84,18,28,2,17,86,False
997,2022-02-14,Freestyle,3.30,40,169,4081,7.37,133.97,122.96,7.136453,...,NaN,114.5,122.0,107,18,28,2,23,98,False
998,2022-02-14,Indoor Cycling,4.40,47,52,4081,10.75,147.65,116.51,7.136453,...,NaN,96.0,90.0,102,45,32,0,13,57,True
999,2022-02-14,Indoor Cycling,1.57,116,106,4081,25.37,143.41,182.80,7.136453,...,NaN,96.5,90.0,103,14,32,0,24,83,True

I am not sure if I did the right thing in this question.

##1i

In [132]:
pa.crosstab(df.activity_day.dt.day_name(),df.workout_type)

workout_type,Cricket,Freestyle,Indoor Cycling,Open Water,Outdoor Cycling,Outdoor Running,Pool Swimming,Trail Run,Treadmill,Trekking,Walking
activity_day,,,,,,,,,,,
Friday,10,13,11,15,12,7,14,16,9,16,15
Monday,8,11,10,15,10,15,11,20,16,14,18
Saturday,17,13,14,16,11,15,11,8,17,18,21
Sunday,17,19,8,12,13,14,16,8,11,9,11
Thursday,10,12,15,8,9,11,22,13,15,12,12
Tuesday,12,16,14,15,15,8,5,11,15,11,13
Wednesday,19,12,8,10,15,11,15,14,15,14,8

In [139]:
from datetime import date
date = df['activity_day'] = pa.to_datetime(df.activity_day, format = '%Y-%m-%d')

In [153]:
df['date'] = 0
days = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

In [141]:
df.groupby([date.dt.day_name(),df.workout_type]).agg('count')

                              activity_day  distance  time  calories  \
activity_day workout_type
Friday       Cricket                    10        10    10        10
             Freestyle                  13        13    13        13
             Indoor Cycling             11        11    11        11
             Open Water                 15        15    15        15
             Outdoor Cycling            12        12    12        12
...                                    ...       ...   ...       ...
Wednesday    Pool Swimming              15        15    15        15
             Trail Run                  14        14    14        14
             Treadmill                  15        15    15        15
             Trekking                   14        14    14        14
             Walking                     8         8     8         8

                              total_steps  avg_speed  avg_cadence  \
activity_day workout_type
Friday       Cricket                   10         10           10
             Freestyle                 13         13           13
             Indoor Cycling            11         11           11
             Open Water                15         15           15
             Outdoor Cycling           12         12           12
...                                   ...        ...          ...
Wednesday    Pool Swimming             15         15           15
             Trail Run                 14         14           14
             Treadmill                 15         15           15
             Trekking                  14         14           14
             Walking                    8          8            8

                              max_cadence  avg_pace  max_pace  min_pace  \
activity_day workout_type
Friday       Cricket                   10        10        10        10
             Freestyle                 13        13         0         0
             Indoor Cycling            11        11         0         0
             Open Water                15        15         0         0
             Outdoor Cycling           12        12         0         0
...                                   ...       ...       ...       ...
Wednesday    Pool Swimming             15        15         0         0
             Trail Run                 14        14        14        14
             Treadmill                 15        15        15        15
             Trekking                  14        14        14        14
             Walking                    8         8         8         8

                              avg_heart_rate  max_heart_rate  min_heart_rate  \
activity_day workout_type
Friday       Cricket                      10              10              10
             Freestyle                    13              13              13
             Indoor Cycling               11              11              11
             Open Water                   15              15              15
             Outdoor Cycling              12              12              12
...                                      ...             ...             ...
Wednesday    Pool Swimming                15              15              15
             Trail Run                    14              14              14
             Treadmill                    15              15              15
             Trekking                     14              14              14
             Walking                       8               8               8

                              vo2_max  aerobic  anaerobic  intensive  light
activity_day workout_type
Friday       Cricket               10       10         10         10     10
             Freestyle             13       13         13         13     13
             Indoor Cycling        11       11         11         11     11
             Open Water            15       15         15         15     15
             Outdoor Cycling       12       12         12         12     12
...                               ...      ...        ...        ...    ...
Wednesday    Pool Swimming         15       15         15         15     15
             Trail Run             14       14         14         14     14
             Treadmill             15       15         15         15     15
             Trekking              14       14         14         14     14
             Walking                8        8          8          8      8

[77 rows x 19 columns]

In [143]:
df.groupby(by='workout_type').agg(['max'])['max_cadence']

                    max
workout_type
Cricket          331.36
Freestyle        347.81
Indoor Cycling   342.94
Open Water       349.76
Outdoor Cycling  346.40
Outdoor Running  348.80
Pool Swimming    349.78
Trail Run        341.55
Treadmill        349.66
Trekking         349.31
Walking          348.96

In [154]:
df.groupby(by=['date','workout_type']).agg(['max'])['max_cadence']

                         max
date workout_type
0    Cricket          331.36
     Freestyle        347.81
     Indoor Cycling   342.94
     Open Water       349.76
     Outdoor Cycling  346.40
     Outdoor Running  348.80
     Pool Swimming    349.78
     Trail Run        341.55
     Treadmill        349.66
     Trekking         349.31
     Walking          348.96

 #Questions about the exam

#2a 
This exam took me approximately three hours
#2b 
I had a tough time with this exam. 1i was the hardest for me and 1a was the easiest section of the exam. 1i for some reasons I wasn't able to work with the day of the week and i was scrambling for a while. 
#2c
We  should have spent more time on regular expressions.