<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/Hot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##One Hot Encoding

I will start this project by importing my dataset

In [129]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv')

df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

Convert the neighbourhood_group and the room_type into appropriate numerical data. Justify your decisisons on how you made the transformations.

I will start by breaking each row into individual pieces

In [130]:
N = pa.crosstab(index=df['neighbourhood_group'], columns='count') 
N

col_0                count
neighbourhood_group
Bronx                 1091
Brooklyn             20104
Manhattan            21661
Queens                5666
Staten Island          373

Then i will make use of the get_dummies command to convert the column to a numerical data

In [131]:
pa.get_dummies(df.neighbourhood_group).head()

   Bronx  Brooklyn  Manhattan  Queens  Staten Island
0      0         1          0       0              0
1      0         0          1       0              0
2      0         0          1       0              0
3      0         1          0       0              0
4      0         0          1       0              0

I will use the above steps for the room_type column

In [132]:
RT = pa.crosstab(index=df['room_type'], columns='count') 
RT

col_0            count
room_type
Entire home/apt  25409
Private room     22326
Shared room       1160

In [133]:
pa.get_dummies(df.room_type).head()

   Entire home/apt  Private room  Shared room
0                0             1            0
1                1             0            0
2                0             1            0
3                1             0            0
4                1             0            0

I am trying to play around, so i'll transform the room_type column to  dictionary.. Let's see how that goes.

In [134]:
RT = sorted(df.room_type.unique())

RT

['Entire home/apt', 'Private room', 'Shared room']

In [135]:
eddict = {}

for i in range(3):
  eddict[RT[i]] = i


eddict

{'Entire home/apt': 0, 'Private room': 1, 'Shared room': 2}

Putting it back in the data set

In [136]:
df.room_type = df.room_type	.map(eddict)

df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

I changed my mind, I think I also want to try change the column neighbourhood group to a dictionary.

In [137]:
NG = sorted(df.neighbourhood_group.unique())

NG

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

In [138]:
eddict = {}

for i in range(5):
  eddict[NG[i]] = i


eddict

{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}

Putting it back in the data set.

In [139]:
df.neighbourhood_group = df.neighbourhood_group	.map(eddict)

df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

This was another cool project to work on. I tired out some things but I didn't really get what I wanted to do. I apologize if this a lot of work.