<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/SQL_essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL ESSENTIALS

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

 I am still working with the Austin bike share trips data set.

In [2]:
%%bigquery --project tobahodataviz
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 100

       trip_id  ... duration_minutes
0   9900289692  ...               39
1   9900285987  ...               31
2   9900285989  ...               31
3   9900285991  ...               30
4   9900286140  ...               19
..         ...  ...              ...
95  9900290499  ...               11
96  9900290570  ...               23
97  9900290601  ...               18
98  9900290615  ...               17
99  9900290636  ...               25

[100 rows x 9 columns]

The next thing I am going to do is to compute the average number of trips based on the starting point. To be honest, I am a bit confused of what column I should make use of. To be on the safer side, I will make use of the columns start_station_id.

In [74]:
%%bigquery --project tobahodataviz

SELECT start_station_name as StartingPoint, AVG(duration_minutes) as AveDurationMin
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY StartingPoint
ORDER BY AveDurationMin

                  StartingPoint  AveDurationMin
0                          Shop        6.800000
1    Mobile Station @ Unplugged        9.750000
2                   Main Office       11.810289
3          Dean Keeton & Whitis       13.494125
4                  22nd & Pearl       13.893964
..                          ...             ...
188                      Stolen      105.000000
189       cesar Chavez/Congress      114.000000
190              17th/Guadalupe      126.739316
191                  6th/Lavaca      132.333710
192           East 5th/Shady Ln      197.470588

[193 rows x 2 columns]

Since we were asked to compute the average time of trip based on the starting point. Having used start_station_id as the starting point, I also worked with duration_minutes to aid in calculating the average time of the trip based on start_station_id. 
I am not sure if i am doing the right thing, but I have to challenge myself..

Now, let's comppute the trip at each starting point

In [77]:
%%bigquery --project tobahodataviz

SELECT start_station_name as StartingPoint, COUNT(start_station_name) AS frequency
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY StartingPoint
ORDER BY frequency DESC

                StartingPoint  frequency
0        21st & Speedway @PCL      72799
1        Riverside @ S. Lamar      40635
2    City Hall / Lavaca & 2nd      36520
3              2nd & Congress      35307
4        Rainey St @ Cummings      34758
..                        ...        ...
188           Marketing Event          4
189             Eeyore's 2018          2
190                    Stolen          1
191             Eeyore's 2017          1
192     cesar Chavez/Congress          1

[193 rows x 2 columns]

I am going to stop here and I will love to take a look at it once more.